<div class="beta-content">
  <p class="headline">Closed BETA</p>
  <p class="description">We want to get feedback from you about our product. Apply for our Closed BETA Program.</p>
  <div class="beta-video">
    <video id="video" loop muted autoplay class="video-primary" oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/videos/iphone15-cinema.mp4" type="video/mp4">
    </video>
    <div class="beta-video-content">
      <p class="beta-video-content-text">Closed BETA</p>
      <div class="beta-video-content-buttons">
        <button class="btn btn-success custom-polish">Apply</button>
        <button class="btn btn-primary custom-polish">Learn more</button>
      </div>
    </div>
  </div>
</div>
