.benefits-head {
  margin-top: 60px;
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.benefits-page > * {
  animation: slide-up 1s ease-out forwards;
}
.benefits-page > * {
  transform: translateY(100px);
  opacity: 0;
}
