.bigcard-zone{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  max-height: 800px;
  margin: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background: #f6f3f3;
}
.bigcard-img{
  max-height: 300px;
  max-width: 400px;
  border-radius: 16px;
  z-index: 2;
  margin: 50px;
}
.bigcard-text{

}
.textzone{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  margin: 50px;
}
.headline{
  flex: 0 0 auto;
  background: -webkit-linear-gradient(#11d5ec, #0055ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: calc(1rem + 24px);
}
